Web/src/main/java/com/scxd/webzhpt/TmriOutNewAccess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.192.12.21:9080/trffweb/services/TmriOutNewAccess" xmlns:impl="http://10.192.12.21:9080/trffweb/services/TmriOutNewAccess" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:intf="http://10.192.12.21:9080/trffweb/services/TmriOutNewAccess" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="writeObjectOutNewResponse">

      <wsdl:part name="writeObjectOutNewReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="writeObjectOutNewRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="cjsqbh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dwjgdm" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dwmc" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="yhbz" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="yhxm" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="zdbs" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="UTF8XmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="writeObjectOutResponse">

      <wsdl:part name="writeObjectOutReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryObjectOutNewResponse">

      <wsdl:part name="queryObjectOutNewReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="writeObjectOutRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="yhbz" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dwmc" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dwjgdm" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="yhxm" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="zdbs" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="UTF8XmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryObjectOutResponse">

      <wsdl:part name="queryObjectOutReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryObjectOutRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="yhbz" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dwmc" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dwjgdm" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="yhxm" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="zdbs" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="UTF8XmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryObjectOutNewRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="cjsqbh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dwjgdm" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dwmc" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="yhbz" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="yhxm" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="zdbs" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="UTF8XmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TmriJaxRpcOutNewAccess">

      <wsdl:operation name="queryObjectOut" parameterOrder="xtlb jkxlh jkid yhbz dwmc dwjgdm yhxm zdbs UTF8XmlDoc">

         <wsdl:input name="queryObjectOutRequest" message="impl:queryObjectOutRequest">

       </wsdl:input>

         <wsdl:output name="queryObjectOutResponse" message="impl:queryObjectOutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="queryObjectOutNew" parameterOrder="xtlb jkxlh jkid cjsqbh dwjgdm dwmc yhbz yhxm zdbs UTF8XmlDoc">

         <wsdl:input name="queryObjectOutNewRequest" message="impl:queryObjectOutNewRequest">

       </wsdl:input>

         <wsdl:output name="queryObjectOutNewResponse" message="impl:queryObjectOutNewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObjectOut" parameterOrder="xtlb jkxlh jkid yhbz dwmc dwjgdm yhxm zdbs UTF8XmlDoc">

         <wsdl:input name="writeObjectOutRequest" message="impl:writeObjectOutRequest">

       </wsdl:input>

         <wsdl:output name="writeObjectOutResponse" message="impl:writeObjectOutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObjectOutNew" parameterOrder="xtlb jkxlh jkid cjsqbh dwjgdm dwmc yhbz yhxm zdbs UTF8XmlDoc">

         <wsdl:input name="writeObjectOutNewRequest" message="impl:writeObjectOutNewRequest">

       </wsdl:input>

         <wsdl:output name="writeObjectOutNewResponse" message="impl:writeObjectOutNewResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TmriOutNewAccessSoapBinding" type="impl:TmriJaxRpcOutNewAccess">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="queryObjectOut">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryObjectOutRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com"/>

         </wsdl:input>

         <wsdl:output name="queryObjectOutResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.192.12.21:9080/trffweb/services/TmriOutNewAccess"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="queryObjectOutNew">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryObjectOutNewRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com"/>

         </wsdl:input>

         <wsdl:output name="queryObjectOutNewResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.192.12.21:9080/trffweb/services/TmriOutNewAccess"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObjectOut">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="writeObjectOutRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com"/>

         </wsdl:input>

         <wsdl:output name="writeObjectOutResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.192.12.21:9080/trffweb/services/TmriOutNewAccess"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObjectOutNew">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="writeObjectOutNewRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com"/>

         </wsdl:input>

         <wsdl:output name="writeObjectOutNewResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.192.12.21:9080/trffweb/services/TmriOutNewAccess"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TmriJaxRpcOutNewAccessService">

      <wsdl:port name="TmriOutNewAccess" binding="impl:TmriOutNewAccessSoapBinding">

         <wsdlsoap:address location="http://10.192.12.21:9080/trffweb/services/TmriOutNewAccess"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
